<% content_for :title do %>Time and Weather<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="clock" data-view="Text" data-title="Chicago, IL" data-text="00:00:00"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="sun-position" data-view="Text" data-title="Sunrise/Sunset" data-text="Sunrise 06:30<br>Sunset 16:30"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="weather-current" data-view="Text" data-title="Chicago, IL" data-text="40&deg;F Cloudy"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="calendar" data-view="Text" data-title="Upcoming Events" data-text="Calendar..."></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="weather-forecast" data-view="Text" data-title="Later" data-text="Terrible weather"></div>
    </li>
  </ul>
</div>
