<% content_for :title do %>Local Transit<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cta-status" data-view="CTAStatus"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      <div data-id="cta-arrivals" data-view="Text" data-title="Upcoming Arrivals" data-text="Red Line to Howard"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="cta-alerts" data-view="Text" data-title="CTA Alerts" data-text="Wilson re-opens"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="divvy" data-view="Divvy"></div>
    </li>
  </ul>
</div>
